*{
	margin:0;
	padding:0;
}
body{
    -webkit-box-orient: horizontal;
    background:rgb(135, 135, 230) ;
}
header{
  
background:rgb(154, 156, 154) ;
color:red;
margin:30px,auto;
text-align: center;
padding :10px;
font:30px bold TimesNewRoman;
}
#text_1{
    margin:20px ;
 
 font:40px bold tohoma;
 background:rgb(185, 91, 28);
 color:black;
}
#text_2{
  
   padding :10px;
    font:40px bold tohoma;
    background:rgba(140, 218, 109, 0.74);
    color:rgba(44, 34, 177, 0.856); 
}
section{
    font:50px;
}
table{
    float: left;width:400px;
    border:3px black;
    padding:5px;

}
table, td,th{

    font:30px bold  black;
    text-align: center;
  border: 2px black:ś
}

aside{
    float:right; 
     -wekit-transform:scale(0.75);
    -webkit-transition:-webkit-transform 5s,scale 5s;
    
    width:300px;
    
}
aside :hover{
    -webkit-transform:scale(1.5);
    border:1px solid black;
}


    
nav{
    margin :30px;
    
    border-bottom: 5px white;
    background:orange;
    font:30px  solid black;
    padding:1px;
    text-align: left;

}
